GEMINI_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=grizzlywear-catalog

FIREBASE_PROJECT_ID=grizzlywear
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

PORT=8000
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000
